* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;

    // forma de mudar o estilo para uma determinada tela
    @media (max-width: 800px) {
        flex-direction: column;

    }

}

ul {
    display: flex;
    width: 70vw;
    list-style: none;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    text-align: center;
    justify-content: space-around;
}

body {
    background-color: #EFEEF3;
    font-family: "Kodchasan", sans-serif;

}


main {
    .banner {
        width: 100%;

        @media (max-width:800px) {
            display: none; //retirando a imagem
        }
    }

    section {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 800px) {
            flex-direction: column;
        }


    }

    .caixa1 {
        width: 30vw;
        line-height: 25px;
        text-align: center;

        @media (max-width:800px) {
            width: 55vw;
            margin-top: 30px;
        }
    }

    figure {
        img {
            width: 5vw;
            margin: 20px;
        }
    }
}